{{#if isEmpty }}
  <tr>
    <td>No hay Productos</td>
  </tr>
{{/if}}
{{#each productos}}
  <tr>
    <td>{{this.title}}</td>
    <td>{{this.preci}}</td>    
    <td>
      {{#if this.thumbnail }}
        <img src="{{this.thumbnail}}" alt="{{this.thumbnail}}">
      {{else}}
        Sin Imagen
      {{/if}}
    </td>
    <td>{{this.stock}}</td>
    <td></td>
    <td></td>
    
  </tr>
{{/each}}